@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
.heading{
    font-size:23px;
    margin:0px;
    border-radius: 7.5px;
    filter:contrast(150%);
    width:100%;
}
.note{
   font-size:15px;
}
body{
    font-family: 'Zen Kurenaido', sans-serif;
}
sm {
    font-family: 'Space Mono', monospace;
 }
 .copyright_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
  }
  .copyright_footer a {
    color: #fdb813;
  }
